
<div class="pagination-centered">

  <h2>Flash Cards</h2>

  <form ng-submit="flashCtrl.createCard()">
    <input ng-focus="flashCtrl.toggleForm()" ng-model="flashCtrl.newCardFront" type="text"
      ng-class="{ 'showForm': flashCtrl.showForm }"
      class="new-field" placeholder="{{ flashCtrl.placeholder }}">

    <input class="new-field" type="text" ng-model="flashCtrl.newCardBack" placeholder="Back Text" ng-show="flashCtrl.showForm">

    <button id="submit-button" type="submit" value="Add Card" ng-show="flashCtrl.showForm">
      <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
    </button>
  </form>


<div ng-repeat="card in flashCtrl.cards" class="card-span">
  <div ng-show="card.editing">
    <input type="text" ng-model="card.fronttext" placeholder="Front Text">
    <input type="text" ng-model="card.backtext" placeholder="Back Text">
    <input id="submit-style" type="submit" value="Submit" ng-click="flashCtrl.editCard(card)">
  </div>
  <section ng-click="flashCtrl.toggleClass(card)" class="card-container">
    <div class="card"
      ng-class="{ 'flipped': card.flipped }">
      <figure class="front">
        {{ card.fronttext }}
      </figure>
      <figure class="back">{{ card.backtext }}</figure>
    </div>
  </section>
  <div class="bottom-buttons">
    <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="flashCtrl.deleteCard(card)"></span>
    <span ng-click="flashCtrl.toggleEditing(card)">Edit</span>
  </div>
</div>
</div>
