
<h1>Test..</h1>

<h1>{{ card.frontText }}</h1>

<p>{{ card.backText }}</p>


<!-- card attempt ------------------------------------------------>

<section class="container" ng-repeat="card in flashCtrl.cards">
  <div class="card"
    ng-click="flashCtrl.toggleClass(card)"
    ng-class="{ 'flipped': card.flipped }">
    <figure class="front">{{ card.frontText}}</figure>
    <figure class="back">{{ card.backText }}</figure>
  </div>
</section>

  <!-- <h1>Card</h1> -->

  <!-- <div id="flipper" ng-click="flashCtrl.toggleClass(card)"
    ng-class="{ 'flipped': card.flipped }"> -->
