
//DRAFT --------------------------------------------------------------------------
<!-- <h1>Subject</h1>
<input type="text" placeholder="Subject" ng-model="flashCtrl">

<input type="submit" value="Add Subject" ng-click="flashCtrl.getData()"> -->

//MORPHING INPUT FIELD BUTTON -----------------------------------------------------
<div class="wrapper">

  <div class="middle">

    <h2>Morphing Input Field Button</h2>

    <input type="email" value="" name="EMAIL" class="email-field" id="email-field" placeholder="Tell me more">

    <input type="submit" value="Subscribe" name="subscribe" id="subscribe-button" class="">

  </div>
