
<!-- MORPHING INPUT FIELD BUTTON ----------------------------------------------------------->
<div class="wrapper">

  <div class="pagination-centered">

    <h2>Subject</h2>

    <form ng-submit="subjectCtrl.createSubject()">
      <input ng-focus="subjectCtrl.toggleForm()" ng-model="subjectCtrl.newSubject" type="text"
        ng-class="{ 'showForm': subjectCtrl.showForm }"
        class="email-field" placeholder="{{ subjectCtrl.placeholder }}">


      <button id="submit-button" type="submit" value="Add Subject" ng-show="subjectCtrl.showForm">
        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
      </button>
    </form>
  </div>

  <section class="card-container" ng-repeat="card in flashCtrl.cards">
    <div class="card"
      ng-click="flashCtrl.toggleClass(card)"
      ng-class="{ 'flipped': card.flipped }">
      <figure class="front">{{ card.fronttext }}</figure>
      <figure class="back">{{ card.backtext }}</figure>
    </div>
  </section>


</div>
