
<!-- MORPHING INPUT FIELD BUTTON ----------------------------------------------------------->
<div class="wrapper">

  <div class="pagination-centered">

    <h2>Subject</h2>

    <form ng-submit="subjectCtrl.createSubject()">
      <input ng-focus="subjectCtrl.toggleForm()" ng-model="subjectCtrl.newSubject" type="text"
        ng-class="{ 'showForm': subjectCtrl.showForm }"
        class="email-field" placeholder="{{ subjectCtrl.placeholder }}">


      <button id="submit-button" type="submit" value="Add Subject" ng-show="subjectCtrl.showForm">
        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
      </button>
    </form>
  </div>

    <div class="fluid-container" ng-repeat="subject in subjectCtrl.subject">
      <h1>{{ subject.SubjectName }}</h1>
    </div>


</div>
