/* Input field that looks like a button */
.email-field {
  width: 80px;
	display: inline-block;
	color: $accent;
	text-align: center;
	background-color: $dark-base;
	padding: .9em 1.8em;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 4px;
	transition: all .1s linear;
}
.email-field:hover {
	background-color: $dark-base;
}

.email-field.showForm {
  width: 200px;
}

/* after button is clicked */
.email-field.active {
	width: 200px;
	outline: none;
	color: $base-accent;
	text-align: left;
	cursor: inherit;
}


/* Email submit button */
.submitForm {
	width: 35px;
	height: 35px;

  opacity: .25;
	background-color: green;
	transition: all .2s linear;

	cursor: pointer; /* for demo only */

	display: none;
}

#submit-button {
  color: $accent;
  font-size: 2.5rem;
  border: none;

    & span {
      position: absolute;
      top: 66%;
    }
}

#subject-button:hover {
	opacity: .33;
}

#subject-button.show {
	display: inline-block;
	background-size: 33px;
}

/* vertically position everything for effect */
@media screen and (min-width: 480px) {

	.middle {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
  }
}
