.pagination-centered {
  text-align: center;
}

/* Input field that looks like a button */
.new-field {
  // width: 80px;
  margin: 0 auto;
	display: inline-block;
	color: $light;
	text-align: center;
	background-color: $darker-mid;
	padding: .9em 1.8em;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 4px;
	transition: all .1s linear;
  font-size: 2rem;
  margin-bottom: 10px;


}
.new-field:hover {
	background-color: $mid-tone;
}

.new-field.showForm {
  // width: 200px;
}


#submit-button {
  color: $mid-tone;
  font-size: 2.5rem;
  border: none;
  background-color: $dark;

    & span {
      // position: absolute;
      // top: 66%;
    }

    &:hover {
      color: $accent;
    }
}

#subject-button:hover {
	opacity: .33;
}

#subject-button.show {
	display: inline-block;
	background-size: 33px;
}

#subject-container {
  background-color: $mid-tone;
  color: $light;
  margin: 10px;
  border: 3px solid $darker-mid;
}
