* {
  vertical-align: top;
  outline: none;
}

.wrapper {
  background-color: $dark;
  padding-top: 10px;
  height: 2000px;
  width: 100%;
}

span {
  color: $mid-tone;
}

input {
  display: block;
}
