.container {
  width: 260px;
  height: 200px;
  position: relative;
  margin: 0 auto 40px;
  perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: right center;
}

.card.flipped {
  transform: translateX( -100% ) rotateY( -180deg );
}

.card figure {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 260px;
  color: $accent;
  text-align: center;
  font-weight: bold;
  position: absolute;
  margin: 0;
  backface-visibility: hidden;
}

.card .front {
  background: $dark-base;
  font-size: 3em;
}

.card .back {
  background: $base-accent;
  transform: rotateY( 180deg );
}
