<div class="pagination-centered">

  <h2>Sets</h2>

  <form ng-submit="setCtrl.createSet()">
    <input ng-focus="setCtrl.toggleForm()" ng-model="setCtrl.newSet" type="text"
      ng-class="{ 'showForm': setCtrl.showForm }"
      class="new-field" placeholder="{{ setCtrl.placeholder }}">

    <button id="submit-button" type="submit" value="Add Set" ng-show="setCtrl.showForm">
      <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
    </button>
  </form>
</div>

<div class="row" ng-repeat="set in setCtrl.sets">
  <div class="col-md-8 col-md-offset-2">
    <a ui-sref="cards({ set: set.id })">{{ set.name }}</a>
    <!-- <span id="set-trash" class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="setCtrl.deleteSet(set)"></span> -->

    <div ng-show="set.editing" class="editing">
      <input type="text" ng-model="set.name">
      <input id="submit-style" type="submit" ng-click="setCtrl.editSet(set)">
    </div>

    <div class="bottom-buttons-set">
      <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="setCtrl.deleteSet(set)"></span>
      <span ng-click="setCtrl.toggleEditing(set)">Edit</span>
    </div>
  </div>
</div>
